.banner {

  --primary-green: #042614;
  --light-cyan: #5EB9BE;
  --dark-cyan: #39867E;

  /*fonts*/
  --Nerko: 'Nerko One', cursive;
  --Shippori: 'Shippori Antique', serif;
  --Mochiy: 'Mochiy Pop One', cursive;

    background-color: var(--dark-cyan);
    color: var(--light-cyan);
    padding: 1rem;
    text-align: center;
    border-radius: 2px;
    opacity: 0.8;
    max-width: fit-content;
}



.Image {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;


}

.h1 {
    font-family: var(--Nerko);
    font-size: 2rem;
    margin: 0;
    padding: 0;
      
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}