.banner {

  --primary-green: #042614;
  --light-cyan: #5EB9BE;
  --dark-cyan: #39867E;

    background-color: var(--dark-cyan);
    color: var(--light-cyan);
    padding: 1rem;
    text-align: center;
}



.Image {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;


}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}