.button {

  --primary-green: #042614;
  --light-cyan: #5EB9BE;
  --dark-cyan: #39867E;

    background-color: var(--dark-cyan);
    color: var(--light-cyan);
    padding: 1rem;
    text-align: center;
}
